Variables

In [ ]:
# Variable Declaration and Assignment:
x = 10  # Declare a variable 'x' and assign it the value 10
print(x)  # Output the value of 'x'
# Output: 10

# Multiple Variable Assignment:
a, b, c = 1, 2, 3  # Assign values to multiple variables in one line
print(a, b, c)  # Output the values of 'a', 'b', 'c'
# Output: 1 2 3 

name,age , country = "Alice", 30, "USA"  # Assign different types of values
print(name, age, country)  # Output the values of 'name', 'age', 'country'
# Output: Alice 30 USA

# Variable Reassignment:
x = 20  # Reassign 'x' to a new value 20
print(x)  # Output the new value of 'x'
# Output: 20

# Dynamic Typing:
var = 5  # 'var' is an integer  
print(var)  # Output: 5
var = "Hello"  # Now 'var' is reassigned to a string
print(var)  # Output: Hello
# Output: Hello
var = 3.14  # Now 'var' is reassigned to a float
print(var)  # Output: 3.14

print("=================Printing the variables ==============")
age = 32
height = 170
name = 'Natarajan'
isAdult = True 

print("Age :" , age)
print("Height is about :" , height)
print("His name is : " , name)
print("Is he adult ? " , isAdult)

print(f"His name is {name} , age and height is about {age} , {height}cm respectively. \
is he an adult ? Answer : {isAdult}")

10
1 2 3
Alice 30 USA
20
5
Hello
3.14
=================Printing the variables ==============
Age : 32
Height is about : 170
His name is :  Natarajan
Is he adult ?  True
His name is Natarajan , age and height is about 32 , 170cm respectively.   is he an adult ? Answer : True

In [15]:
# string concatenation 
'nitro' + ' natraj' 

# concatenating the num + string doesn't work in python -> leaves an error
1 +  'nitro'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Naming convention of the variable 

# it should be descriptive, satrt with the letter or _ , but not start with number or any other symbol in the start.
# It may contain any character, number 
# It should not be reserved word like def or int..
# Any case as per the project convention.

name = 'Nitro'
Name = 'Kari' 

print(name)
print(Name)

# Both are different, it means python is case sensitive

Nitro
Kari

In [24]:
# Invalid variable name 
# 01name = 'nitro'
#nitro = 'natraj'
# @name = 'Nitro'
# def = 'nitro'

''' 
 Cell In[19], line 2
    01name = 'nitro'
    ^
SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers
'''

'''
Variable is free from reseerved words, 
it should be start with letter or underscore and it can contain the number or symbols in the middle.
It shouldn't start with any symbols or any number. 
And it is more meaningful in nature to describe the data it contains.
'''

"\nVariable is free from reseerved words, \nit should be start with letter or underscore and it can contain the number or symbols in the middle.\nIt shouldn't start with any symbols or any number. \nAnd it is more meaningful in nature to describe the data it contains.\n"

In [58]:
# Variable types:
# Python is dynamically typed lang, means that the datatype of the variable is inferred during the run time. 

age = 20; # int
name = 'Nitro' # str
is_student = True # bool
height = 175.85 #  float

# These are the basic primitive datatype in the python 

# Type checking 
print(type(age))
print(type(name))
print(type(is_student))
print(type(height))

# By using the type function, we can able to see the variable datatype 

# Can we able to convert the datatype of one variable from one data type to another? Ans: Yes 
#  wkt, age is int 
print('Age Variable datatype: ', type(age))
print('After converting the age from int to str, the type of age variable becomes str from int. Lets see below')

age = str(age)
print(type(age))
print("Again i am gonna convert it into int from str...Its possible until the varibale str is a number, \
otherwise it leave ane error")
age = int(age)
print(type(age))

print("str to int")
print(type(name))
# name = int(name) -> says invalid literal for the int 
print(type(name))

is_student = str(is_student)
print(type(is_student))
is_student = bool(is_student)
print(type(is_student))

name = bool(name)
print(name)
print(type(name))

name = str(name)
print(name)
print(type(name))

# we can use the constructor function str() , bool(), int() , float() to convert from one to another.

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>
Age Variable datatype:  <class 'int'>
After converting the age from int to str, the type of age variable becomes str from int. Lets see below
<class 'str'>
Again i am gonna convert it into int from str...Its possible until the varibale str is a number, otherwise it leave ane error
<class 'int'>
str to int
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
True
<class 'bool'>
True
<class 'str'>

'12.4'

In [ ]:
# Python allows us to change the type of the varibale as the program executes 

var = 20
print(var, type(var))

var = 'Nitro'
print(var, type(var))

var = True 
print(var, type(var))

var = 8.98
print(var, type(var))

# Python allow us to change the datatype of the varibal from one to another as the program executes.

20 <class 'int'>
Nitro <class 'str'>
True <class 'bool'>
8.98 <class 'float'>

In [66]:
# Input 
name = input("What is your name?")
print(name , type(name))

age = input("What is your age?")
print(age, type(age))
age = int(age)
print(age, type(age))
age = age + 1 
print(age)

nitro <class 'str'>
20      <class 'str'>
20 <class 'int'>
21