### String Methods

In [8]:
# str datatype definition and getting help for the methods 
dir(str) # it list out all the available methods inside the str datatype object 
help(str.lower) # it illustrate the definition of the methods

Help on method_descriptor:

lower(self, /) unbound builtins.str method
    Return a copy of the string converted to lowercase.

In [15]:
# Type checking after the string object creation with the str construction function 
string = str('nitro')
type(string)

num_string = str(22)
deci = str(23.9)

print(num_string)
print(type(num_string))
print(deci)
print(type(deci))

22
<class 'str'>
23.9
<class 'str'>

In [42]:
# _add_ 
str.__add__('a','b') # 'ab'

# __contains__
str.__contains__('nitro','ni') # true

# __eq__
str.__eq__('a','b') # false 

# __ge__
str.__ge__('02' , '03') # true 

# __le__
str.__le__('32', '33')

# __ne__
str.__ne__('21','12')

# __gt__
str.__gt__('32', '12')

# __hash__
str.__hash__('23')

# __len__
str.__len__('nitronatraj')

# __lt__ 
str.__lt__('32', '28') 

# __mod__
# str.__mod__('15','14')

# __mul__
str.__mul__('12',11)


# __sizeof__
str.__sizeof__('natraj')

# __str__
str.__str__('nat')

'nat'

In [49]:
# Capitalize 
string = 'HI I AM NATARAJAN. \n I am karikalan '
string.capitalize()

'Hi i am natarajan. \n i am karikalan '

In [53]:
# casefold 
string1 = "Hello World"
string2 = "hello world"
if string1.casefold() == string2.casefold():
    print("Strings are equal (case-insensitive)")

Strings are equal (case-insensitive)

In [ ]:
# center, ljust, rjust
name = 'Natraj'
name.center(30, '*')
name.ljust(20, '-')
name.rjust(30,'%')

'%%%%%%%%%%%%%%%%%%%%%%%%Natraj'

In [ ]:
# count 
name = 'natarajan'
name.count('n')
name.count('a')
name.count('a',4)

2

In [ ]:
# encode
name='nitro'
name.encode('utf-8')
name.encode('utf-16')
name.encode('utf-32')

b'\xff\xfe\x00\x00n\x00\x00\x00i\x00\x00\x00t\x00\x00\x00r\x00\x00\x00o\x00\x00\x00'

In [ ]:
# endswith 
name = 'hello'
name.endswith('llo')
name.endswith('llol')

False

In [76]:
# expandtabs
text_with_tabs = "Name:\tAlice\nAge:\t30\nCity:\tNew York"

# Using default tabsize (8)
expanded_text_default = text_with_tabs.expandtabs()
print("Default tabsize (8):\n", expanded_text_default)

# Using a custom tabsize (4)
expanded_text_custom = text_with_tabs.expandtabs(tabsize=4)
print("\nCustom tabsize (4):\n", expanded_text_custom)

Default tabsize (8):
 Name:   Alice
Age:    30
City:   New York

Custom tabsize (4):
 Name:   Alice
Age:    30
City:   New York

In [81]:
# find 
sentence = 'Hii there.. where is kari, gautham and ravi'
sentence.find('kari')
sentence.find('gautha')

27

In [ ]:
# index 
sentence = 'Hii there.. where is kari, gautham and ravi'
sentence.index('i')
sentence.rindex('i')
sentence.index('i', 3, 20)

18

In [100]:
name = 'natraj'
name1 = 'natraj09'
name2 = 'natraj0501@'
name.isalnum()
name1.isalpha()
name2.isalnum()
name2.isascii()
deci = '55555'
deci.isdecimal()
deci.isdigit()

True

In [125]:
# isidentifier 
keyword = 'fg var' 
keyword.isidentifier()

False

In [132]:
#islower()
name = 'nitro'
name.islower()

name = 'Nitro'
name.islower()

#islower()
name = 'NITRO'
name.isupper()

name = 'Nitro'
name.islower()

False

In [ ]:
# isnumeric()
number = '0984562452675'
number.isnumeric()

True

In [141]:
# isprintable()
space = '\ts'
space.isprintable()

False

In [ ]:
# isspace()
spaces = '    '
spaces.isspace()

spaces = '  df  '
spaces.isspace()

False

In [151]:
# istitle()
title = 'Hi Nitro'
title.istitle()

title = 'Hi NDFASDGA'
title.istitle()

False

In [ ]:
# join
# str.join(self, iterable , /)
','.join(['natraj','thanaraj','karikalan'])
help(str.join)

Help on method_descriptor:

join(self, iterable, /) unbound builtins.str method
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [7]:
# lower 
str.lower('Natraj')

'natraj'

In [8]:
# ljust 
str.ljust('natraj', 30, '*')

'natraj************************'

In [10]:
# lstrip
str.lstrip('          natraj        ',' ')

'natraj        '

In [11]:
str.partition('natraj,kariakalan', ',')

('natraj', ',', 'kariakalan')

In [12]:
str.removeprefix('Mr.Nataraj','Mr.')

'Nataraj'

In [13]:
str.removesuffix('Natrajan\'s', '\'s')

'Natrajan'

In [15]:
str.replace('Natrajt', 't','ta')

'Natarajta'

In [16]:
str.rfind('Karikalan','a')

7

In [17]:
str.rindex('natarajan','n')

8

In [18]:
str.rjust('natarajan', 50,'-')

'-----------------------------------------natarajan'

In [ ]:
str.rpartition('natarajan,karikalan,thanaraj' , ',')
str.rpartition('natarajan, karikalan,thanaraj' , ' ')

('natarajan,', ' ', 'karikalan,thanaraj')

In [25]:
str.rsplit('natarajan',' ') # ['natarajan']

str.rsplit('natarajan,thanaraj', ',')

['natarajan', 'thanaraj']

In [38]:
str.rstrip('  nataraj*&^%','*&^%')
str.lstrip('  nataraj*&^%','*&^% ')
str.strip('  nata@raj*&^%','*&^%@ ')
str.replace('  nata@raj*&^%','@','')
str.split('natarajan')
list('natarajan'[::-1][::-1])

['n', 'a', 't', 'a', 'r', 'a', 'j', 'a', 'n']

In [ ]:
# splitlines
string = 'Hi \nThis is natarajan\n I have been preparing for the dat science job.'
string.splitlines()

['Hi ', 'This is natarajan', ' I have been preparing for the dat science job.']

In [42]:
# startswith 
'T.Natarajan'.startswith('T.')

True

In [ ]:
# strip
'@natarajan@05011994@'.strip('@')

'natarajan@05011994'

In [46]:
# swapcase 
'nATARAJAN'.swapcase()

'Natarajan'

In [50]:
# title
tit = 'hello natraj'.title()
str.istitle(tit)

tit1 = 'Hello Natraj'
str.istitle(tit1)

True

In [53]:
# zfill
str.zfill('natraj',10)

'0000natraj'