## Sets 
  - Sets are a built-in data structure in python used to store collections of unique items.
  - They are unordered means do not follow an specific order and they do not allow any duplicate elements.
  - Sets are useful for membership tests, eliminating duplicating entries and performing mathematical set operation like union, intersection, difference and symmetric difference.

In [ ]:
# How to create the set

# Here we use the curly braces to define the set 

my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

# empty_set 
empty_set = set()

# In the set function, we can pass the iterables like an array, dict, tuple
array_set = set([1,2,3,4,5,6,7,7])
array_set1 = set('Natarajan')

print(array_set)
print(array_set1) # it ignore the duplicates

{1, 2, 3, 4, 5}
<class 'set'>
{1, 2, 3, 4, 5, 6, 7}
{'r', 'j', 'n', 'a', 'N', 't'}

In [29]:
#   Basic set operation 
array_set = set([1,2,3,4,5,6,7,7])
# Add and remove elements 
array_set.add(9)
print(array_set)

# Remove element from the set 
array_set.remove(1)
print(array_set)

# What if i pass the non-member in the set function remove() -> it throw an error
# array_set.remove(15)  it throws error bcoz the element in the set not contains the 15.

# To remove the element if it exist, otherwise retain the set as it is. 
# For this case we can use the set function 'discard'
array_set = set([1,2,3,4,5,6,7,7])
array_set.discard(4)
print(array_set)

{1, 2, 3, 4, 5, 6, 7, 9}
{2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 5, 6, 7}

In [ ]:
array_set = set([1,2,3,4,5,6,7,7])
# pop method: which removes the element which was first in. So it follows th first in first out 

popped_out = array_set.pop()
print(popped_out)
print(array_set)
popped_out = array_set.pop()
print(popped_out)
print(array_set)

1
{2, 3, 4, 5, 6, 7}
2
{3, 4, 5, 6, 7}

In [32]:
# To clear all the elements in a set 
array_set = set([1,2,3,4,5,6,7,7])
array_set.clear()
print(array_set)

set()

In [33]:
# Membership test:
# we can able to check whether the element is exit in the set or not 
array_set = set([1,2,3,4,5,6,7,7])
print(1 in array_set)
print(11 in array_set)

True
False

In [43]:
# Mathematical operation 
# union, difference, intersection, intersection_update, difference_update
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

union_set = set1.union(set2)
print(union_set)

difference_ab = set1.difference(set2)
print(difference_ab)

difference_ba = set2.difference(set1)
print(difference_ba)

intersect_ab = set1.intersection(set2)
print(intersect_ab)

# intersection_update , difference_update 
# this update functions will update the sets after the difference or intersection operation between the sets.
du = set2.difference_update(set1)
iu = set1.intersection_update(set2)

print('du: ', set2)
print('iu ', set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{4, 5, 6}
du:  {7, 8, 9}
iu  set()

In [45]:
# Symmetric difference -> return the unique elements, removes all the common elements 
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

sym_diff = set1.symmetric_difference(set2)
print(sym_diff)

{1, 2, 3, 7, 8, 9}

In [55]:
# set methods 
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

set1 = {1,2,3,4,5}
set2 = {3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))
print(set2.issubset(set1))

False
False
False
True
True

In [49]:
# If we want to remove the duplicates in the array or string literals or any iterables, 
# just by pass it into the set constructor would remove the duplicates. 

lst = [1,1,1,1,2,3,4,5,6,7,8,9,9,9,10]
unique_ele = set(lst)
print(unique_ele)
print(len(unique_ele))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
10

In [50]:
sentence = 'Here is where i have been learning about the sets in detail by krish naik. \
  He is best in teaching hard topics' 

words = sentence.split()
unique_words = set(words)

print(unique_words)
print(len(unique_words))

{'Here', 'in', 'He', 'have', 'i', 'the', 'best', 'topics', 'where', 'sets', 'krish', 'is', 'about', 'by', 'hard', 'teaching', 'been', 'detail', 'learning', 'naik.'}
20