#### Tuples in python 
   - Tuples are ordered collection of items that are immutable. They are similar to lists, but their immutability makes them different.

In [6]:
# Creating the tuple 
empty_tuple = ()
empty_tu = tuple()
print(empty_tuple, type(empty_tuple))
print(empty_tu, type(empty_tu))


new_tuple = (1,'Natraj', 31 , True , ['natraj', 32 ,True])
print(new_tuple)

tpl = tuple([1,2,3,4,5,6])
print(tpl)

() <class 'tuple'>
() <class 'tuple'>
(1, 'Natraj', 31, True, ['natraj', 32, True])
(1, 2, 3, 4, 5, 6)

In [ ]:
# Accessing the tuple elements 
new_tuple = (1,'Natraj', 31 , True , ['natraj', 32 ,True])

# Access by index 
print(new_tuple[0])
print(new_tuple[1])

# Slicing 
print(new_tuple[1:3])

1
Natraj
('Natraj', 31)

In [ ]:
# Tuple Operation 
numbers = (1,2,3,4,5,6,7)
new_tuple = (1,'Natraj', 31 , True , ['natraj', 32 ,True])

# Concatenation
concat_tuple = new_tuple + numbers 
print(concat_tuple)

numbers* 3 # the tuple elements are multiplied quantatively non-mathematically.

(1, 'Natraj', 31, True, ['natraj', 32, True], 1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

In [ ]:
# Lets see about the tuple immutability
print(new_tuple)
# new_tuple[1] = 2 #  'tuple' object does not support item assignment
print(new_tuple) 
# Tuple object doesn't allow us to mutate the values once inserted 

# If we really want to mutate the elemnt in the tuple, we can do it by change it into list and change back to tuple

(1, 'Natraj', 31, True, ['natraj', 32, True])
(1, 'Natraj', 31, True, ['natraj', 32, True])

In [ ]:
# Tuple methods 
new_tuple.count(1) # to count the frequency of the value 
new_tuple.index('Natraj') # getting the index of the value.

1

In [24]:
# Packing and unpacking the tuple
packed_tuple = 1,'Natraj',True
print(packed_tuple)

# unpacking a tuple 
a,b,c = packed_tuple 
print(a)
print(b)
print(c)

# Unpacking with star
tpl = (1,2,3,4,5,6)
first,*middle,last = tpl
print(first)
print(middle)
print(last)

(1, 'Natraj', True)
1
Natraj
True
1
[2, 3, 4, 5]
6

In [36]:
# Nested list
nested_list = [[1,2,3,4,5],[2,3,4],[7,6,5],[1,2.43,'Mani',True]]
print(nested_list[0][1])

# Nested tuple 
nested_tuple = ((1,'Natraj'),(2,'Karikalan'),(3,'Thanaraj'))
# Access 
print(nested_tuple[0][1])
print(nested_tuple[2][1])

# Iterating over the tuple 
for sub_tuple in nested_tuple:
  for item in sub_tuple:
    print(f"{item}")

2
Natraj
Thanaraj
1
Natraj
2
Karikalan
3
Thanaraj