#### Lambda Function 
  - Lambda function are small anonymous function (Function without name) defined using the lambda keyword. They can have any number of arguments but only one expression(logic). They are commonly used for short operation. And it widely used as the argument to the higher order function.

In [ ]:
# Syntax 
# lambda arguments: expression

# lambda a,b: a+b

# Traditional way of using function to do such task 
def addition(a,b):
  return a+b

print(addition(2,3))

# By lambda fun, 
# we can able to replace the traditional way of defining and calling function which has single expression.
add = lambda a,b:a+b
print(add(2,3))

5
5

In [4]:
# Traditional way:
def even_num(num):
  return num%2==0

print(even_num(23))

is_even = lambda a:a%2==0
print(is_even(2))

False
True

In [5]:
# addition with multiple parameter
def add1 (a,b,c):
  return a+b+c

print(add1(2,3,4))

# Lambda Function 
add2 = lambda a,b,c:a+b+c
print(add2(5,6,7))

9
18

In [ ]:
numbers = [i*i for i in range(8)]
print(numbers)

square = lambda a:[i*i for i in range(a)]
print(square(3))
print(type(square))

def square(num):
  return num*num

# Using map 
number_list = [1,2,3,4,5,6,7,8,9,10]
list(map(square,number_list))

[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4]
<class 'function'>

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
# Lambda function with map 
numbers = [1,2,3,4,5,6,7]
list(map(lambda x: x*x , numbers))

[1, 4, 9, 16, 25, 36, 49]

In [10]:
# Map multiple iterables 
num1 =[ 1,2,3]
num2 = [4,5,6]

added = list(map(lambda x,y:x+y , num1, num2))
print(added)

[5, 7, 9]

In [11]:
# map to convert the list of the number strings into integer
strings = ['1','2','3','4','5']
integer = list(map(int,strings))
print(integer)

[1, 2, 3, 4, 5]

2